#guessing-game-question-mark {
  justify-content: center;
}

h1 {
  color: orange;
  text-align: center;
}

p {
  justify-content: center;
  text-align: center;
}

#hint {
  font-weight: bold;
  justify-content: center;
}

#num-guess-input {
  border: 1px solid orange;
  border-radius: 30px;
  color: orange;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

#gen-text {
  text-align: center;
}

input {
  text-align: center;
}

body > div > div:nth-child(4) {
  justify-content: center;
  padding-top: 30px;
}

.row {
  justify-content: center;
}

.btn-outline-primary {
  border: 1px solid orange;
  border-radius: 30px !important;
  color: orange;
  font-size: 30px;
  justify-content: center;
}

.btn-outline-primary:hover {
  background-color: orange;
  border: 1px solid orange;
  border-radius: 30px !important;
  color: white;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

#button-row {
  margin: 2em;
}

#design-assets {
  font-size: 0.75em;
}
