html, body {
  height: 100%;
}

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 10em;
  color: #fc46aa;
}

.anmiLetter {
  font-size: 5em;
  color: #fc46aa;
  transition: all 250ms ease-in-out;
}

.active {
  color: black;
  font-size: 10em;
}
